In [351]:
%pip install pandas statsmodels seaborn matplotlib scikit-learn

Requirement already satisfied: pandas in ./lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: statsmodels in ./lib/python3.12/site-packages (0.14.4)
Requirement already satisfied: seaborn in ./lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: matplotlib in ./lib/python3.12/site-packages (3.9.2)
Requirement already satisfied: scikit-learn in ./lib/python3.12/site-packages (1.5.2)
Requirement already satisfied: numpy>=1.26.0 in ./lib/python3.12/site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in ./lib/python3.12/site-packages (from statsmodels) (1.14.1)
Requirement already satisfied: patsy>=0.5.6 in ./lib/python3.12/site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in ./lib/python3.12/site-packages (from statsmodels) (24.1)
Requirement already satisfied: contourpy>=1.0.1 in ./lib/python3.12/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in ./lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./lib/python3.12/site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./lib/python3.12/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: pillow>=8 in ./lib/python3.12/site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./lib/python3.12/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: joblib>=1.2.0 in ./lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./lib/python3.12/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: six in ./lib/python3.12/site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [352]:
# インポート
import pandas as pd
import statsmodels.api as sm
from statsmodels.tools import add_constant
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [353]:
# JSONLファイルのパス
jsonl_file_path = './data/listings_2024_sales.json'  # ご自身のファイルパスに置き換えてください

# データをDataFrameに変換
df = pd.read_json(jsonl_file_path, lines=True)

# データの確認
print("データの最初の数行:")
df.head()

データの最初の数行:

,manual_id,listing_name,room_type_id,owner_name,stay_operation_type,prefecture_name,city_name,floor_plan,sqm,number_of_capacity,has_elevator,has_auto_lock,first_line,first_station,first_walk_min,location_floor,built_year,tag,number_of_s_beds,number_of_sd_beds,number_of_d_beds,number_of_q_beds,number_of_k_beds,number_of_futons,number_of_sofa_beds,minpaku_total,monthly_total,total,minpaku_adr,monthly_adr,total_adr
0,1-1,月村ビル 302,f39a7eb0-f29a-46f6-b9b4-9b053e4aefb7,MT,住宿,東京都,杉並区,2DK,35.50,6,無,無,京王井の頭線,高井戸,2,3.0,1980.0,Tokyo_large,NaN,2.0,1.0,NaN,NaN,NaN,NaN,60474120.0,74883660.0,135357780.0,7566.831832,11093.875556,9181.778592
1,1-2,月村ビル 303,777c7031-af8d-4ccc-bece-5aa8da1f4487,MT,住宿,東京都,杉並区,2DK,42.64,8,無,無,京王井の頭線,高井戸,2,3.0,1980.0,Tokyo_large,NaN,2.0,1.0,NaN,NaN,NaN,NaN,83115480.0,55370484.0,138485964.0,13790.522648,6890.304131,9847.540639
2,1-3,月村ビル 401,4b3eabab-36f7-4cdf-9d30-03feb80d5ea9,MT,住宿,東京都,杉並区,2DK,42.64,8,無,無,京王井の頭線,高井戸,2,4.0,1980.0,Tokyo_large,NaN,2.0,1.0,NaN,NaN,NaN,NaN,86618064.0,49939656.0,136557720.0,15143.018182,5783.399653,9512.902821
3,1-4,月村ビル 403,13125f4f-874e-400b-9615-fd425af877a7,MT,住宿,東京都,杉並区,2DK,42.64,8,無,無,京王井の頭線,高井戸,2,4.0,1980.0,Tokyo_large,NaN,2.0,1.0,NaN,NaN,NaN,NaN,68974176.0,70558824.0,139533000.0,21608.451128,5999.900000,9332.062600
4,11-1,A.Kビル 501,3212f8b8-c194-46f9-b66c-d926d445be69,MT,住宿,東京都,台東区,1R,21.89,3,有,有,東武伊勢崎線,浅草,9,5.0,1990.0,fuyo,NaN,1.0,NaN,NaN,NaN,NaN,NaN,40475988.0,36036720.0,76512708.0,8533.836812,6039.336350,7144.043697

In [354]:
# 統計情報

df.describe()

,sqm,number_of_capacity,location_floor,built_year,number_of_s_beds,number_of_sd_beds,number_of_d_beds,number_of_q_beds,number_of_k_beds,number_of_futons,number_of_sofa_beds,minpaku_total,monthly_total,total,minpaku_adr,monthly_adr,total_adr
count,1574.000000,1574.000000,1528.000000,1573.000000,31.000000,64.000000,171.000000,1.0,2.0,31.000000,50.000000,1.574000e+03,1.574000e+03,1.574000e+03,1574.000000,1574.000000,1574.000000
mean,27.192338,3.235705,3.690445,2014.624921,1.483871,1.375000,1.105263,1.0,1.0,1.322581,1.040000,3.500049e+07,2.113203e+07,5.613252e+07,12487.368497,7793.054423,9657.918273
std,11.377852,1.427536,2.163364,14.381009,0.676805,0.519462,0.447905,NaN,0.0,0.475191,0.197949,2.593600e+07,1.966206e+07,4.192671e+07,8419.485850,5203.643831,4798.032443
min,10.710000,1.000000,1.000000,1900.000000,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,20.060000,2.000000,2.000000,2016.000000,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.905700e+07,8.756940e+06,2.946169e+07,7874.085122,5187.151169,6954.677439
50%,25.410000,3.000000,3.000000,2022.000000,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,2.890245e+07,1.377502e+07,4.225672e+07,10556.199610,6672.061319,8546.837065
75%,30.180000,4.000000,5.000000,2023.000000,2.000000,2.000000,1.000000,1.0,1.0,2.000000,1.000000,4.425392e+07,2.726927e+07,7.357882e+07,14760.021183,8978.891129,10600.374117
max,106.100000,12.000000,19.000000,2024.000000,4.000000,3.000000,4.000000,1.0,1.0,2.000000,2.000000,2.497003e+08,1.476413e+08,3.385122e+08,116877.004498,125921.142857,45564.716188

In [355]:
# 欠損値の数
df.isnull().sum()

manual_id                 0
listing_name              0
room_type_id              0
owner_name                0
stay_operation_type       0
prefecture_name           0
city_name                 0
floor_plan                0
sqm                       0
number_of_capacity        0
has_elevator           1295
has_auto_lock          1300
first_line                1
first_station             1
first_walk_min            1
location_floor           46
built_year                1
tag                       0
number_of_s_beds       1543
number_of_sd_beds      1510
number_of_d_beds       1403
number_of_q_beds       1573
number_of_k_beds       1572
number_of_futons       1543
number_of_sofa_beds    1524
minpaku_total             0
monthly_total             0
total                     0
minpaku_adr               0
monthly_adr               0
total_adr                 0
dtype: int64

In [356]:
# 欠損値の処理

df['number_of_s_beds'].fillna(0, inplace=True)
df['number_of_sd_beds'].fillna(0, inplace=True)
df['number_of_d_beds'].fillna(0, inplace=True)
df['number_of_q_beds'].fillna(0, inplace=True)
df['number_of_k_beds'].fillna(0, inplace=True)
df['number_of_futons'].fillna(0, inplace=True)
df['number_of_sofa_beds'].fillna(0, inplace=True)

df['first_walk_min'] = pd.to_numeric(df['first_walk_min'], errors='coerce')

df['has_elevator'] = df['has_elevator'].map({'有': 1, '無': 0})
df['has_elevator'].fillna(0, inplace=True)

df['has_auto_lock'] = df['has_auto_lock'].map({'有': 1, '無': 0})
df['has_auto_lock'].fillna(0, inplace=True)

df = pd.get_dummies(df, columns=[
    'stay_operation_type', 'prefecture_name', 'city_name', 'floor_plan', 'tag', 'first_station'
], drop_first=True)

df = df.dropna()

df.isnull().sum()

/var/folders/pd/2jj0t6nx237d_97r8zs2969c0000gn/T/ipykernel_2442/3627405991.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_of_s_beds'].fillna(0, inplace=True)
/var/folders/pd/2jj0t6nx237d_97r8zs2969c0000gn/T/ipykernel_2442/3627405991.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_of_sd_beds'].fillna(0, inplace=True)
/var/folders/pd/2jj0t6nx237d_97r8zs2969c0000gn/T/ipykernel_2442/3627405991.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_of_d_beds'].fillna(0, inplace=True)
/var/folders/pd/2jj0t6nx237d_97r8zs2969c0000gn/T/ipykernel_2442/3627405991.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_of_q_beds'].fillna(0, inplace=True)
/var/folders/pd/2jj0t6nx237d_97r8zs2969c0000gn/T/ipykernel_2442/3627405991.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_of_k_beds'].fillna(0, inplace=True)
/var/folders/pd/2jj0t6nx237d_97r8zs2969c0000gn/T/ipykernel_2442/3627405991.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_of_futons'].fillna(0, inplace=True)
/var/folders/pd/2jj0t6nx237d_97r8zs2969c0000gn/T/ipykernel_2442/3627405991.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_of_sofa_beds'].fillna(0, inplace=True)
/var/folders/pd/2jj0t6nx237d_97r8zs2969c0000gn/T/ipykernel_2442/3627405991.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['has_elevator'].fillna(0, inplace=True)
/var/folders/pd/2jj0t6nx237d_97r8zs2969c0000gn/T/ipykernel_2442/3627405991.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['has_auto_lock'].fillna(0, inplace=True)

manual_id             0
listing_name          0
room_type_id          0
owner_name            0
sqm                   0
                     ..
first_station_飯田橋     0
first_station_駒沢大学    0
first_station_高井戸     0
first_station_高円寺     0
first_station_高輪台     0
Length: 192, dtype: int64

In [357]:
# 統計情報

df.describe()

,sqm,number_of_capacity,has_elevator,has_auto_lock,first_walk_min,location_floor,built_year,number_of_s_beds,number_of_sd_beds,number_of_d_beds,number_of_q_beds,number_of_k_beds,number_of_futons,number_of_sofa_beds,minpaku_total,monthly_total,total,minpaku_adr,monthly_adr,total_adr
count,1521.000000,1521.000000,1521.000000,1521.000000,1521.000000,1521.000000,1521.000000,1521.000000,1521.000000,1521.000000,1521.000000,1521.000000,1521.000000,1521.000000,1.521000e+03,1.521000e+03,1.521000e+03,1521.000000,1521.000000,1521.000000
mean,26.974753,3.211703,0.141354,0.094675,6.092702,3.700855,2015.144642,0.029586,0.055884,0.109139,0.000657,0.000657,0.022354,0.028271,3.395513e+07,2.080861e+07,5.476374e+07,12383.091738,7696.998397,9554.667380
std,10.806740,1.361557,0.348501,0.292861,2.712293,2.161701,13.726324,0.228940,0.290474,0.344012,0.025641,0.025641,0.176292,0.169722,2.448038e+07,1.917822e+07,3.995673e+07,8393.110952,5154.351373,4717.192628
min,10.710000,1.000000,0.000000,0.000000,1.000000,1.000000,1965.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,20.130000,2.000000,0.000000,0.000000,4.000000,2.000000,2017.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.875277e+07,8.638404e+06,2.882286e+07,7818.381944,5160.012245,6928.906746
50%,25.450000,3.000000,0.000000,0.000000,6.000000,3.000000,2022.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.867111e+07,1.360800e+07,4.177981e+07,10503.160000,6600.000000,8432.892929
75%,30.080000,4.000000,0.000000,0.000000,8.000000,5.000000,2023.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.276322e+07,2.706637e+07,7.193078e+07,14545.295529,8869.010101,10439.706349
max,102.400000,12.000000,1.000000,1.000000,15.000000,19.000000,2024.000000,4.000000,3.000000,4.000000,1.000000,1.000000,2.000000,2.000000,2.497003e+08,1.476413e+08,3.380944e+08,116877.004498,125921.142857,45564.716188

In [358]:
# 説明変数の定義
features = [
    'sqm',
    #'number_of_capacity',
    'has_elevator',
    'has_auto_lock',
    'location_floor',
    'built_year',
    'number_of_sd_beds', 'number_of_d_beds', 'number_of_q_beds', 'number_of_k_beds', 'number_of_futons', 'number_of_sofa_beds',
]

# 東京だけに絞る
df = df[df['prefecture_name_東京都'] == True]
X = df[features]

In [359]:
# 相関係数を確認
cor = df[features].corr()

cor

,sqm,has_elevator,has_auto_lock,location_floor,built_year,number_of_sd_beds,number_of_d_beds,number_of_q_beds,number_of_k_beds,number_of_futons,number_of_sofa_beds
sqm,1.000000,-0.028591,0.082660,0.130540,0.167288,0.009901,0.107426,-0.015784,-0.002352,-0.088238,0.083526
has_elevator,-0.028591,1.000000,0.667997,0.166842,-0.420553,0.379593,0.593349,-0.011769,0.062752,-0.004011,0.273008
has_auto_lock,0.082660,0.667997,1.000000,0.203586,-0.096416,0.078486,0.628792,0.079118,0.079118,0.134076,0.394360
location_floor,0.130540,0.166842,0.203586,1.000000,-0.010460,0.017664,0.127736,0.005721,-0.007307,-0.068415,0.051028
built_year,0.167288,-0.420553,-0.096416,-0.010460,1.000000,-0.355743,-0.298252,0.007352,-0.059837,-0.139967,-0.122020
number_of_sd_beds,0.009901,0.379593,0.078486,0.017664,-0.355743,1.000000,-0.002333,-0.005554,-0.005554,0.036956,-0.009344
number_of_d_beds,0.107426,0.593349,0.628792,0.127736,-0.298252,-0.002333,1.000000,-0.009159,-0.009159,0.107961,0.384290
number_of_q_beds,-0.015784,-0.011769,0.079118,0.005721,0.007352,-0.005554,-0.009159,1.000000,-0.000739,-0.003656,-0.004806
number_of_k_beds,-0.002352,0.062752,0.079118,-0.007307,-0.059837,-0.005554,-0.009159,-0.000739,1.000000,-0.003656,-0.004806
number_of_futons,-0.088238,-0.004011,0.134076,-0.068415,-0.139967,0.036956,0.107961,-0.003656,-0.003656,1.000000,0.042353
number_of_sofa_beds,0.083526,0.273008,0.394360,0.051028,-0.122020,-0.009344,0.384290,-0.004806,-0.004806,0.042353,1.000000

In [360]:
# VIFの計算

import pandas as pd
from statsmodels.stats.outliers_influence import variance_inflation_factor

# VIFの計算
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

vif_data

                feature       VIF
0                   sqm  7.240602
1          has_elevator  3.331132
2         has_auto_lock  2.743335
3        location_floor  4.193044
4            built_year  9.266652
5     number_of_sd_beds  1.413373
6      number_of_d_beds  2.301440
7      number_of_q_beds  1.020443
8      number_of_k_beds  1.017577
9      number_of_futons  1.100157
10  number_of_sofa_beds  1.276113

In [361]:
high_vif = vif_data[vif_data['VIF'] > 10]['feature']

X = X.drop(columns=high_vif)


print("VIFが10を超える変数:")
high_vif

VIFが10を超える変数:

Series([], Name: feature, dtype: object)

In [362]:
# 特徴量とターゲットの選択
target = 'monthly_adr'

X = X.astype(float)

y = df[target]

X = add_constant(X)

# 線形回帰モデルの構築
model = sm.OLS(y, X).fit()

# モデルの要約を表示
print("\nモデルの要約:")
model.summary()

モデルの要約:

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            monthly_adr   R-squared:                       0.223
Model:                            OLS   Adj. R-squared:                  0.216
Method:                 Least Squares   F-statistic:                     34.99
Date:                Tue, 05 Nov 2024   Prob (F-statistic):           3.97e-66
Time:                        16:30:46   Log-Likelihood:                -12961.
No. Observations:                1355   AIC:                         2.595e+04
Df Residuals:                    1343   BIC:                         2.601e+04
Df Model:                          11
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                 1.67e+04   1.73e+04      0.968      0.333   -1.72e+04    5.05e+04
sqm                   162.4480      8.890     18.273      0.000     145.008     179.888
has_elevator         1807.8284    453.463      3.987      0.000     918.256    2697.401
has_auto_lock        -199.9406    508.370     -0.393      0.694   -1197.227     797.345
location_floor         79.1194     46.728      1.693      0.091     -12.548     170.787
built_year             -6.8985      8.568     -0.805      0.421     -23.707       9.910
number_of_sd_beds    -148.4848    367.814     -0.404      0.687    -870.038     573.068
number_of_d_beds     -693.0513    386.560     -1.793      0.073   -1451.379      65.276
number_of_q_beds      304.9641   3504.158      0.087      0.931   -6569.255    7179.183
number_of_k_beds    -4467.6945   3510.141     -1.273      0.203   -1.14e+04    2418.261
number_of_futons      331.6858    532.850      0.622      0.534    -713.623    1376.994
number_of_sofa_beds  -648.1757    585.620     -1.107      0.269   -1797.006     500.654
==============================================================================
Omnibus:                      853.893   Durbin-Watson:                   1.068
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            17181.662
Skew:                           2.570   Prob(JB):                         0.00
Kurtosis:                      19.671   Cond. No.                     3.70e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.7e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [363]:
# Ridge回帰のR^2を計算

from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score

ridge = Ridge(alpha=1.0)
scores = cross_val_score(ridge, X, y, cv=5, scoring='r2')
print("Ridge回帰の平均R²:", scores.mean())

Ridge回帰の平均R²: 0.09752144111905459