In [15]:
%pip install pandas statsmodels seaborn matplotlib scikit-learn

Requirement already satisfied: pandas in ./lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: statsmodels in ./lib/python3.12/site-packages (0.14.4)
Requirement already satisfied: seaborn in ./lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: matplotlib in ./lib/python3.12/site-packages (3.9.2)
Requirement already satisfied: scikit-learn in ./lib/python3.12/site-packages (1.5.2)
Requirement already satisfied: numpy>=1.26.0 in ./lib/python3.12/site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in ./lib/python3.12/site-packages (from statsmodels) (1.14.1)
Requirement already satisfied: patsy>=0.5.6 in ./lib/python3.12/site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in ./lib/python3.12/site-packages (from statsmodels) (24.1)
Requirement already satisfied: contourpy>=1.0.1 in ./lib/python3.12/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in ./lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./lib/python3.12/site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./lib/python3.12/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: pillow>=8 in ./lib/python3.12/site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./lib/python3.12/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: joblib>=1.2.0 in ./lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./lib/python3.12/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: six in ./lib/python3.12/site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [16]:
# インポート
import pandas as pd
import statsmodels.api as sm
from statsmodels.tools import add_constant
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [17]:
# JSONLファイルのパス
jsonl_file_path = './data/listings_2024_sales.json'  # ご自身のファイルパスに置き換えてください

# データをDataFrameに変換
df = pd.read_json(jsonl_file_path, lines=True)

In [18]:
df.head()

,manual_id,listing_name,room_type_id,owner_name,stay_operation_type,prefecture_name,city_name,floor_plan,sqm,number_of_capacity,...,number_of_s_beds,number_of_sd_beds,number_of_d_beds,number_of_q_beds,number_of_k_beds,number_of_futons,number_of_sofa_beds,total_adr,minpaku_adr,monthly_adr
0,1-3,月村ビル 401,4b3eabab-36f7-4cdf-9d30-03feb80d5ea9,MT,住宿,東京都,杉並区,2DK,42.64,8,...,NaN,2.0,1.0,NaN,NaN,NaN,NaN,11706.597701,17943.105769,7575.407643
1,22-1,恵比寿4-11-5,71ec03e3-ddcc-449f-bb52-3a1c6e150e2b,MT,住宿,東京都,渋谷区,戸建,65.00,6,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,24813.694286,34515.870466,12886.815287
2,63-6,ガーデン大塚 205,b1abb84a-18fa-4d69-84a4-17bccb5adbec,MT,住宿,東京都,豊島区,1K,17.00,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7739.225100,8989.506211,5502.611111
3,71-13,アイディ大森20 302,797f2ff2-6cbe-4adf-8f8c-d86f2e948d01,MT,住宿,東京都,大田区,1K,25.67,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7463.905775,9312.984496,6271.250000
4,77-4,グラナード六本木 402,ca8b198e-02e8-4bfd-a077-d46747489a6f,MT,住宿,東京都,港区,1LDK,46.60,4,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,14699.754217,21486.854701,12035.020134

In [19]:
# 統計情報

df.describe()

,sqm,number_of_capacity,location_floor,built_year,number_of_s_beds,number_of_sd_beds,number_of_d_beds,number_of_q_beds,number_of_k_beds,number_of_futons,number_of_sofa_beds,total_adr,minpaku_adr,monthly_adr
count,1606.000000,1606.000000,1558.000000,1605.000000,31.000000,64.000000,172.000000,1.0,2.0,31.000000,50.000000,1606.000000,1606.000000,1606.000000
mean,27.301575,3.256538,3.700899,2014.381931,1.483871,1.375000,1.104651,1.0,1.0,1.322581,1.040000,9595.629465,11891.650703,7289.067194
std,11.428085,1.446514,2.159744,14.611829,0.676805,0.519462,0.446666,NaN,0.0,0.475191,0.197949,4064.054363,5936.272827,2652.779312
min,10.710000,1.000000,1.000000,1900.000000,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,3854.423980,0.000000,0.000000
25%,20.130000,2.000000,2.000000,2014.000000,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,7223.239082,8304.745529,5910.938862
50%,25.450000,3.000000,3.000000,2022.000000,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,8564.071641,10740.945397,6734.375000
75%,30.225000,4.000000,5.000000,2023.000000,2.000000,2.000000,1.000000,1.0,1.0,2.000000,1.000000,10279.326012,13286.292320,7792.966411
max,106.100000,12.000000,19.000000,2024.000000,4.000000,3.000000,4.000000,1.0,1.0,2.000000,2.000000,45828.060000,67264.141593,31972.223350

In [20]:
# 欠損値の数
df.isnull().sum()

manual_id                 0
listing_name              0
room_type_id              0
owner_name                0
stay_operation_type       0
prefecture_name           0
city_name                 0
floor_plan                0
sqm                       0
number_of_capacity        0
has_elevator           1326
has_auto_lock          1331
first_line                2
first_station             2
first_walk_min            2
location_floor           48
built_year                1
tag                       0
number_of_s_beds       1575
number_of_sd_beds      1542
number_of_d_beds       1434
number_of_q_beds       1605
number_of_k_beds       1604
number_of_futons       1575
number_of_sofa_beds    1556
total_adr                 0
minpaku_adr               0
monthly_adr               0
dtype: int64

In [21]:
# 欠損値の処理

df['number_of_s_beds'].fillna(0, inplace=True)
df['number_of_sd_beds'].fillna(0, inplace=True)
df['number_of_d_beds'].fillna(0, inplace=True)
df['number_of_q_beds'].fillna(0, inplace=True)
df['number_of_k_beds'].fillna(0, inplace=True)
df['number_of_futons'].fillna(0, inplace=True)
df['number_of_sofa_beds'].fillna(0, inplace=True)

df['first_walk_min'] = pd.to_numeric(df['first_walk_min'], errors='coerce')

df['has_elevator'] = df['has_elevator'].map({'有': 1, '無': 0})
df['has_elevator'].fillna(0, inplace=True)

df['has_auto_lock'] = df['has_auto_lock'].map({'有': 1, '無': 0})
df['has_auto_lock'].fillna(0, inplace=True)

df = pd.get_dummies(df, columns=[
    'stay_operation_type', 'prefecture_name', 'city_name', 'floor_plan', 'tag', 'first_station'
], drop_first=True)

df = df.dropna()

df.isnull().sum()

/var/folders/pd/2jj0t6nx237d_97r8zs2969c0000gn/T/ipykernel_55352/3627405991.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_of_s_beds'].fillna(0, inplace=True)
/var/folders/pd/2jj0t6nx237d_97r8zs2969c0000gn/T/ipykernel_55352/3627405991.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_of_sd_beds'].fillna(0, inplace=True)
/var/folders/pd/2jj0t6nx237d_97r8zs2969c0000gn/T/ipykernel_55352/3627405991.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_of_d_beds'].fillna(0, inplace=True)
/var/folders/pd/2jj0t6nx237d_97r8zs2969c0000gn/T/ipykernel_55352/3627405991.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_of_q_beds'].fillna(0, inplace=True)
/var/folders/pd/2jj0t6nx237d_97r8zs2969c0000gn/T/ipykernel_55352/3627405991.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_of_k_beds'].fillna(0, inplace=True)
/var/folders/pd/2jj0t6nx237d_97r8zs2969c0000gn/T/ipykernel_55352/3627405991.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_of_futons'].fillna(0, inplace=True)
/var/folders/pd/2jj0t6nx237d_97r8zs2969c0000gn/T/ipykernel_55352/3627405991.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_of_sofa_beds'].fillna(0, inplace=True)
/var/folders/pd/2jj0t6nx237d_97r8zs2969c0000gn/T/ipykernel_55352/3627405991.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['has_elevator'].fillna(0, inplace=True)
/var/folders/pd/2jj0t6nx237d_97r8zs2969c0000gn/T/ipykernel_55352/3627405991.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['has_auto_lock'].fillna(0, inplace=True)

manual_id             0
listing_name          0
room_type_id          0
owner_name            0
sqm                   0
                     ..
first_station_飯田橋     0
first_station_駒沢大学    0
first_station_高井戸     0
first_station_高円寺     0
first_station_高輪台     0
Length: 193, dtype: int64

In [22]:
# 統計情報

df.describe()

,sqm,number_of_capacity,has_elevator,has_auto_lock,first_walk_min,location_floor,built_year,number_of_s_beds,number_of_sd_beds,number_of_d_beds,number_of_q_beds,number_of_k_beds,number_of_futons,number_of_sofa_beds,total_adr,minpaku_adr,monthly_adr
count,1550.000000,1550.000000,1550.000000,1550.000000,1550.000000,1550.000000,1550.000000,1550.000000,1550.000000,1550.000000,1550.000000,1550.000000,1550.000000,1550.000000,1550.000000,1550.000000,1550.000000
mean,27.071039,3.227742,0.139355,0.093548,6.064516,3.712903,2014.947742,0.029032,0.054839,0.107742,0.000645,0.000645,0.021935,0.027742,9488.802161,11751.828457,7241.273120
std,10.816306,1.370775,0.346428,0.291293,2.720169,2.157642,13.924373,0.226822,0.287841,0.341839,0.025400,0.025400,0.174660,0.168169,3915.083784,5736.459708,2601.369612
min,10.710000,1.000000,0.000000,0.000000,1.000000,1.000000,1965.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4917.394487,0.000000,0.000000
25%,20.172500,2.000000,0.000000,0.000000,4.000000,2.000000,2017.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7209.179041,8251.901707,5894.363368
50%,25.450000,3.000000,0.000000,0.000000,6.000000,3.000000,2022.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8501.971295,10637.401259,6730.782861
75%,30.180000,4.000000,0.000000,0.000000,8.000000,5.000000,2023.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10196.194297,13240.180869,7748.440922
max,102.400000,12.000000,1.000000,1.000000,15.000000,19.000000,2024.000000,4.000000,3.000000,4.000000,1.000000,1.000000,2.000000,2.000000,45828.060000,67264.141593,31972.223350

In [23]:
# 説明変数の定義
features = [
    # 'sqm',
    'number_of_capacity',
    'has_elevator',
    'has_auto_lock',
    'location_floor',
    'built_year',
    'number_of_sd_beds', 'number_of_d_beds', 'number_of_q_beds', 'number_of_k_beds', 'number_of_futons', 'number_of_sofa_beds',
]

# 東京だけに絞る
df = df[df['prefecture_name_東京都'] == True]
X = df[features]

In [24]:
# 相関係数を確認
cor = df[features].corr()

cor

,number_of_capacity,has_elevator,has_auto_lock,location_floor,built_year,number_of_sd_beds,number_of_d_beds,number_of_q_beds,number_of_k_beds,number_of_futons,number_of_sofa_beds
number_of_capacity,1.000000,0.055774,0.072525,0.107578,0.041135,0.157250,0.186905,-0.022575,0.017172,-0.007585,0.123761
has_elevator,0.055774,1.000000,0.669718,0.168750,-0.419804,0.378661,0.595230,-0.011745,0.062604,-0.004016,0.272341
has_auto_lock,0.072525,0.669718,1.000000,0.205893,-0.096230,0.078038,0.630824,0.078831,0.078831,0.133507,0.392866
location_floor,0.107578,0.168750,0.205893,1.000000,-0.009775,0.017295,0.129987,0.005666,-0.007338,-0.068499,0.050638
built_year,0.041135,-0.419804,-0.096230,-0.009775,1.000000,-0.355955,-0.297610,0.007279,-0.059861,-0.140192,-0.122359
number_of_sd_beds,0.157250,0.378661,0.078038,0.017295,-0.355955,1.000000,-0.002438,-0.005529,-0.005529,0.037072,-0.009183
number_of_d_beds,0.186905,0.595230,0.630824,0.129987,-0.297610,-0.002438,1.000000,-0.009152,-0.009152,0.107626,0.383252
number_of_q_beds,-0.022575,-0.011745,0.078831,0.005666,0.007279,-0.005529,-0.009152,1.000000,-0.000735,-0.003639,-0.004784
number_of_k_beds,0.017172,0.062604,0.078831,-0.007338,-0.059861,-0.005529,-0.009152,-0.000735,1.000000,-0.003639,-0.004784
number_of_futons,-0.007585,-0.004016,0.133507,-0.068499,-0.140192,0.037072,0.107626,-0.003639,-0.003639,1.000000,0.042454
number_of_sofa_beds,0.123761,0.272341,0.392866,0.050638,-0.122359,-0.009183,0.383252,-0.004784,-0.004784,0.042454,1.000000

In [25]:
# VIFの計算

import pandas as pd
from statsmodels.stats.outliers_influence import variance_inflation_factor

# VIFの計算
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

vif_data

                feature       VIF
0    number_of_capacity  7.054527
1          has_elevator  3.307991
2         has_auto_lock  2.735400
3        location_floor  4.194812
4            built_year  8.884956
5     number_of_sd_beds  1.475133
6      number_of_d_beds  2.396018
7      number_of_q_beds  1.019913
8      number_of_k_beds  1.019343
9      number_of_futons  1.084892
10  number_of_sofa_beds  1.279505

In [26]:
high_vif = vif_data[vif_data['VIF'] > 10]['feature']

X = X.drop(columns=high_vif)


print("VIFが10を超える変数:")
high_vif

VIFが10を超える変数:

Series([], Name: feature, dtype: object)

In [27]:
# 特徴量とターゲットの選択
target = 'total_adr'

X = X.astype(float)

y = df[target]

X = add_constant(X)

# 線形回帰モデルの構築
model = sm.OLS(y, X).fit()

model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              total_adr   R-squared:                       0.571
Model:                            OLS   Adj. R-squared:                  0.567
Method:                 Least Squares   F-statistic:                     163.2
Date:                Tue, 05 Nov 2024   Prob (F-statistic):          1.06e-238
Time:                        19:56:07   Log-Likelihood:                -12648.
No. Observations:                1361   AIC:                         2.532e+04
Df Residuals:                    1349   BIC:                         2.538e+04
Df Model:                          11
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const               -6608.6408   1.31e+04     -0.504      0.614   -3.23e+04    1.91e+04
number_of_capacity   2244.0328     56.224     39.912      0.000    2133.736    2354.330
has_elevator         -451.4916    344.368     -1.311      0.190   -1127.046     224.063
has_auto_lock        2870.9008    387.864      7.402      0.000    2110.018    3631.784
location_floor         23.4401     35.506      0.660      0.509     -46.214      93.094
built_year              4.7240      6.509      0.726      0.468      -8.045      17.493
number_of_sd_beds   -1761.3842    287.111     -6.135      0.000   -2324.618   -1198.151
number_of_d_beds    -1800.2047    300.299     -5.995      0.000   -2389.308   -1211.101
number_of_q_beds    -2912.8691   2669.461     -1.091      0.275   -8149.615    2323.877
number_of_k_beds    -5487.1703   2677.967     -2.049      0.041   -1.07e+04    -233.738
number_of_futons    -1297.8215    404.264     -3.210      0.001   -2090.876    -504.767
number_of_sofa_beds -1143.4821    447.020     -2.558      0.011   -2020.412    -266.552
==============================================================================
Omnibus:                     1038.901   Durbin-Watson:                   1.594
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            34421.637
Skew:                           3.209   Prob(JB):                         0.00
Kurtosis:                      26.787   Cond. No.                     3.69e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.69e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [28]:
# Ridge回帰のR^2を計算

from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score

ridge = Ridge(alpha=1.0)
scores = cross_val_score(ridge, X, y, cv=5, scoring='r2')
print("Ridge回帰の平均R²:", scores.mean())

Ridge回帰の平均R²: 0.5616952088197986